//<FORM (a.f+tab)>====================================================================================
//</FORM>=============================================================================================

//<BUTTONS (a.btn+tab)>===============================================================================
.btn {
	display: inline-block;
	background-color: #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	color: #fff;
	text-align: center;
	transition: all 0.3s ease 0s;
	&-sign {
		background-color: transparent;
		box-shadow: none;
		width: 112px;
		&:hover {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
		@media (max-width: $md2 + px) {
			width: 100px;
		}
		@media (max-width: $md3 + px) {
			width: 100%;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}
	&-join {
		width: 112px;
		&:hover {
			box-shadow: none;
		}
		@media (max-width: $md2 + px) {
			width: 100px;
		}
		@media (max-width: $md3 + px) {
			width: 100%;
		}
	}
	&-mainblock {
		font-size: 15px;
		line-height: 54px;
		width: 247px;
		&:hover {
			box-shadow: none;
		}
		@media (max-width: $md4 + px) {
			width: 100%;
		}
	}
	&-footer {
		font-size: 15px;
		line-height: 54px;
		width: 258px;
		&:hover {
			box-shadow: none;
		}
	}
	&-authorization {
		max-width: 350px;
		width: 100%;
		font-size: 16px;
		line-height: 50px;
		&:hover {
			box-shadow: none;
		}
	}
	&-registration {
		font-size: 16px;
		line-height: 50px;
		max-width: 350px;
		width: 100%;
		&:hover {
			box-shadow: none;
		}
	}
}
//</BUTTONS>==========================================================================================

//<SELECT (sel+tab)>==================================================================================
//</SELECT>==========================================================================================

//<INPUT (inp+tab)>==================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	&.focus {
	}
	&.err {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
//</INPUT>===========================================================================================

//<CHECK (chk+tab)>==================================================================================
//</CHECK>===========================================================================================

//<OPTIONS (opt+tab)>================================================================================
//</OPTIONS>=========================================================================================

//<RATING>===========================================================================================
//</RATING>==========================================================================================

//<QUANTITY>=========================================================================================
//</QUANTITY>========================================================================================

//<RANGE>============================================================================================
//</RANGE>===========================================================================================
