//<МИКСИНЫ>==============================================================================================
@import "mixins";
//</МИКСИНЫ>=============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>====================================================================================
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");
//</Подключаем шрифты>===================================================================================

//<Иконочные шрифты>=====================================================================================

//</Иконочные шрифты>====================================================================================

//<Шрифт по умолчанию>===================================================================================
$fontfamily: "Inter";
//</Шрифт по умолчанию>==================================================================================

//</ШРИФТЫ>==============================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================
$minwidth: 320px;
$mw: 1240;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================
@import "null.scss";
body {
	color: #000;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==========================================================================

//<ОБОЛОЧКА>=============================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>============================================================================================

//<ОСНОВНАЯ СЕТКА>=======================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>======================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>========================================================
//@import "icons";
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=======================================================

//<ОСНОВНОЙ БЛОК>========================================================================================
.mainblock {
	&__content {
		display: flex;
		align-items: center;
		padding: 65px 0px 0px 0px;
		margin: 0px 0px 25px 0px;
		@media (max-width: $md2 + px) {
			padding: 50px 0px 0px 0px;
		}
		@media (max-width: $md3 + px) {
			padding: 20px 0px 0px 0px;
			flex-direction: column-reverse;
		}
	}
	&__info {
		max-width: 440px;
		margin: 0px 190px 0px 0px;
		width: 100%;
		@media (max-width: 1200px) {
			margin: 0px 140px 0px 0px;
		}
		@media (max-width: $md2 + px) {
			margin: 0px 50px 0px 0px;
			max-width: 350px;
		}
		@media (max-width: $md3 + px) {
			margin: 20px 0px 0px 0px;
			max-width: 100%;
			text-align: center;
		}
		@media (max-width: $md4 + px) {
			margin: 10px 0px 0px 0px;
		}
	}
	&__title {
		margin: 0px 0px 28px 0px;
		@media (max-width: $md2 + px) {
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $md4 + px) {
			margin: 0px 0px 15px 0px;
		}
	}
	&__btn {
		margin: 0px 0px 23px 0px;
		@media (max-width: $md3 + px) {
			margin: 0px 0px 15px 0px;
		}
	}
	&__link {
		font-size: 13px;
		line-height: 19px;
		color: #46474e;
		a {
			color: #46474e;
			transition: all 0.3s ease 0s;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__img {
		img {
			max-width: 576px;
			width: 100%;
			height: auto;
			@media (max-width: $md2 + px) {
				max-width: 500px;
				height: auto;
			}
		}
	}
	&__trigger {
		position: absolute;
		right: 50%;
		transform: translateX(50%);
	}
}
.trigger-mainblock {
	display: inline-flex;
	box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	padding: 22px;
	transition: all 0.5s ease-in-out;
	@media (max-width: $md3 + px) {
		width: 90%;
		justify-content: center;
	}
	@media (max-width: $md4 + px) {
		display: none;
	}
	&__reading {
		font-size: 14px;
		line-height: 14px;
		color: #131314;
		border-right: 1px solid #e8e8e9;
		padding: 0px 51px 0px 0px;
		position: relative;
		&:before {
			content: url(../img/items/hand.png);
			vertical-align: middle;
			margin: 0px 8px 0px 0px;
		}
		&:after {
			content: url(../img/mainblock/oku.png);
			position: absolute;
			top: 4px;
			margin: 0px 0px 0px 4px;
		}
	}
	&__link {
		border-right: 1px solid #e8e8e9;
		padding: 0px 24px 0px 16px;
		a {
			font-size: 13px;
			line-height: 14px;
			color: #131314;
			transition: all 0.1s ease 0s;
			span {
				vertical-align: middle;
				font-size: 10px;
				margin: 0px 0px 0px 2px;
			}
		}
		&:hover {
			padding: 0px 12px 0px 16px;
			span {
				border: 1px solid #000;
				border-radius: 50%;
				padding: 3px 5px;
			}
		}
	}
	&__close {
		cursor: pointer;
		padding: 0px 0px 0px 17px;
	}
	&--hide {
		visibility: hidden;
		opacity: 0;
		transform: translateX(-100%);
	}
}
//=======================================================================================================
.screens {
	margin: 140px 0px 0px 0px;
	@media (max-width: $md4 + px) {
		margin: 60px 0px 0px 0px;
	}
	&-general {
		background-color: #f3f4f4;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__one {
		margin: 0px 0px 24px 0px;
		@media (max-width: $md4 + px) {
			margin: 0px 0px 15px 0px;
		}
	}
	&__title {
		font-family: Roboto;
		font-size: 36px;
		line-height: 47px;
		letter-spacing: 0.216px;
		margin: 65px 94px 55px 94px;
		text-align: center;
		&--m {
			margin-bottom: 17px;
		}
		@media (max-width: $md2 + px) {
			font-size: 32px;
			line-height: 41px;
			margin: 45px 74px 35px 74px;
		}
		@media (max-width: $md3 + px) {
			font-size: 30px;
			line-height: 39px;
			margin: 35px 54px 25px 54px;
		}
		@media (max-width: $md4 + px) {
			font-size: 24px;
			line-height: 30px;
			margin: 20px 20px 15px;
		}
	}
	&__text {
		font-size: 16px;
		line-height: 29px;
		margin: 0 94px;
		@media (max-width: $md2 + px) {
			margin: 0 74px 20px;
		}
		@media (max-width: $md3 + px) {
			margin: 0 54px;
		}
		@media (max-width: $md4 + px) {
			font-size: 14px;
			line-height: 25px;
			margin: 0 20px;
		}
	}
	&__img {
		&-one {
			img {
				max-width: 1050px;
				width: 100%;
			}
		}
		&-two {
			img {
				max-width: 380px;
				width: 100%;
			}
		}
	}
	&__two {
		margin: 0px 0px 25px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: $md2 + px) {
			margin: 0px 0px 0px 0px;
		}
	}
	&__content {
		display: flex;
		margin: 0 -12px;
		@media (max-width: $md2 + px) {
			flex-direction: column;
		}
	}
	&__column {
		flex: 0 1 50%;
		padding: 0px 12px;
		@media (max-width: $md2 + px) {
			margin: 0px 0px 24px 0px;
		}
	}
	&__item {
		height: 100%;
		text-align: center;
	}
}
.fix {
	margin-top: 17px;
	img {
		max-width: 620px;
		width: 100%;
	}
	@media (max-width: $mw + px) and (min-width: $md2 + px) {
		margin-top: 90px;
	}
}
.text__fix {
	@media (max-width: $md3 + px) {
		margin-bottom: 50px;
	}
	@media (max-width: $md4 + px) {
		margin-bottom: 20px;
	}
}
//=======================================================================================================
.reviews {
	margin: 130px 0px 0px 0px;
	@media (max-width: $md2 + px) {
		margin: 80px 0px 0px 0px;
	}
	@media (max-width: $md3 + px) {
		margin: 30px 0px 0px 0px;
	}
	@media (max-width: $md4 + px) {
		margin: 20px 0px 0px 0px;
	}
	&__container {
		max-width: 912px;
		width: 100%;
		margin: 0 auto;
		border-bottom: 1px solid #e8e8e9;
		padding-bottom: 62px;
		@media (max-width: $md2 + px) {
			max-width: 750px;
		}
		@media (max-width: $md3 + px) {
			max-width: none;
			padding: 0 10px 42px;
		}
		@media (max-width: $md4 + px) {
			padding-bottom: 20px;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		@media (max-width: $md3 + px) {
			flex-direction: column;
		}
	}
}
.item-text {
	max-width: 408px;
	width: 100%;
	margin: 0px 130px 0px 0px;
	@media (max-width: 1100px) {
		margin: 0px 53px 0px 0px;
	}
	@media (max-width: $md2 + px) {
		max-width: 350px;
	}
	@media (max-width: $md3 + px) {
		max-width: 100%;
		text-align: center;
		margin: 0px 0px 0px 0px;
	}
	&__title {
		margin: 0px 0px 26px 0px;
		@media (max-width: $md3 + px) {
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $md4 + px) {
			margin: 0px 0px 10px 0px;
		}
	}
	&__text {
		@media (max-width: $md3 + px) {
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $md4 + px) {
			margin: 0px 0px 15px 0px;
		}
	}
}
.item-review {
	max-width: 420px;
	width: 100%;
	margin: 0px 0px 24px 0px;
	&:last-child {
		margin: 0px 0px 0px 120px;
	}
	@media (max-width: 1100px) {
		&:last-child {
			margin: 0px 0px 0px 50px;
		}
	}
	@media (max-width: $md2 + px) {
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	@media (max-width: $md3 + px) {
		max-width: 100%;
		margin: 0px 0px 15px 0px;
	}
	@media (max-width: $md4 + px) {
		margin: 0px 0px 10px 0px;
	}
	&__body {
		border: 1px solid #e8e8e9;
		border-radius: 8px;
		padding: 25px;
		@media (max-width: $md2 + px) {
			padding: 20px;
		}
		@media (max-width: $md3 + px) {
			padding: 15px;
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__author {
		display: flex;
	}
	&__social {
		color: #00d1ff;
	}
	&__content {
		font-size: 14px;
		line-height: 21px;
		margin: 16px 0px 24px 0px;
		p {
			margin: 0px 0px 17px 0px;
			@media (max-width: $md3 + px) {
				margin: 0px 0px 12px 0px;
			}
			a {
				color: #000000;
			}
		}
		@media (max-width: $md3 + px) {
			margin: 12px 0px 20px 0px;
		}
	}
	&__date {
		font-size: 13px;
		line-height: 16px;
		color: #697882;
	}
}
.review-autor {
	&__img {
		img {
			width: 36px;
			height: 36px;
		}
	}
	&__name {
		margin: 0px 0px 0px 16px;
	}
	&__nickname {
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
		margin: 0px 0px 4px 0px;
	}
	&__login {
		font-size: 14px;
		line-height: 15px;
		color: #697882;
	}
}
//=======================================================================================================
.team {
	padding: 175px 0px 140px 0px;
	@media (max-width: $md2 + px) {
		padding: 100px 0px;
	}
	@media (max-width: $md3 + px) {
		padding: 60px 0px;
	}
	@media (max-width: $md4 + px) {
		padding: 30px 0px;
	}
	&__container {
		max-width: 705px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		@media (max-width: $md3 + px) {
			max-width: none;
			padding: 0 10px;
		}
	}
	&__title {
		margin: 0px 0px 28px 0px;
		@media (max-width: $md2 + px) {
			margin: 0px 0px 26px 0px;
		}
		@media (max-width: $md3 + px) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__text {
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3 + px) {
			margin: 0px 0px 30px 0px;
		}
	}
}
.persons-team {
	display: flex;
	justify-content: space-evenly;
	@media (max-width: $md4 + px) {
		flex-direction: column;
	}
	&__name {
		font-size: 15px;
		line-height: 27px;
		margin: 27px 0px 3px 0px;
		@media (max-width: $md4 + px) {
			font-size: 14px;
			line-height: 26px;
			margin: 10px 0px 3px 0px;
		}
	}
	&__location {
		font-size: 13px;
		line-height: 23px;
		color: #46474e;
		@media (max-width: $md4 + px) {
			margin: 0px 0px 10px 0px;
		}
	}
}
//=======================================================================================================
.join {
	padding: 320px 0px 190px 0px;
	background-color: #f6f6f6;
	position: relative;
	overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		background-color: #fff;
		border-radius: 50%;
		max-width: 1240px;
		width: 100%;
		height: 270px;
		top: -170px;
		transform: translateX(-50%);
		left: 50%;
		@media (max-width: $md2 + px) {
			top: -200px;
		}
		@media (max-width: $md3 + px) {
			top: -220px;
		}
		@media (max-width: $md4 + px) {
			top: -222px;
		}
	}
	@media (max-width: $md2 + px) {
		padding: 250px 0px 130px 0px;
	}
	@media (max-width: $md3 + px) {
		padding: 150px 0px 80px 0px;
	}
	&__content {
		margin: 0 auto;
		text-align: center;
		max-width: 444px;
		width: 100%;
	}
	&__title {
		margin: 0px 0px 15px 0px;
	}
	&__text {
		margin: 0px 0px 4px 0px;
	}
	&__reason {
		margin: 0px 0px 24px 0px;
		font-size: 11px;
		line-height: 31px;
		color: #46474e;
		@media (max-width: $md3 + px) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__container {
		position: relative;
	}
}
.img-top-left {
	position: absolute;
	top: -320px;
	left: 55px;
	@media (max-width: $md2 + px) {
		top: -250px;
		left: 35px;
	}
	@media (max-width: $md3 + px) {
		top: -170px;
		left: 100px;
	}
	@media (max-width: $md4 + px) {
		top: -150px;
		left: 50px;
	}
}
.img-top-right {
	position: absolute;
	top: 0;
	right: 0;
	@media (max-width: $md2 + px) {
		top: -90px;
	}
}
.img-bottom-left {
	position: absolute;
	bottom: -170px;
	left: 0;
	@media (max-width: $md2 + px) {
		bottom: -80px;
	}
	@media (max-width: $md4 + px) {
		display: none;
	}
}
//</ОСНОВНОЙ БЛОК>=======================================================================================
